<div class="grid grid-cols-2 gap-4">
  <div class="w-full">
    <h2 class="mb-2 text-xl font-semibold text-indigo-500">Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()"
          class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div>
        <label for="email">E-mail*</label>
        <input type="email" name="email" id="email" formControlName="email" placeholder="Ton adresse e-mail"
               class="shadow appearance-none rounded w-full py-3 px-2 leading-tight" required>
        <span [hidden]="f.email.valid || f.email.pristine" class="text-red-600">Essaie de taper un e-mail valide</span>
      </div>
      <div>
        <label for="password">Mot de passe*</label>
        <input type="password" name="password" id="password" formControlName="password" placeholder="Ton mot de passe"
               class="shadow appearance-none rounded w-full py-3 px-2 leading-tight" required>
        <span [hidden]="f.password.valid || f.password.pristine" class="text-red-600">Tape ton mot de passe</span>
        <p class="text-right"><a>Mot de passe oublié ?</a></p>
      </div>
      <input type="submit" value="Connexion" (submit)="handleLogin()"
             [disabled]="!loginForm.valid"
              class="w-full cursor-pointer px-8 md:py-2 md:px-1 py-6 mt-4 text-lg font-medium text-white text-uppercase hover:bg-indigo-600 hover:text-white bg-teal-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-300 transition duration-150 ease-in-out">
    </form>
  </div>
  <div class="w-full">
    <h2 class="mb-2 text-xl font-semibold text-indigo-500">Inscription</h2>
    <form [formGroup]="signupForm" (ngSubmit)="handleSignup()"
          class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div>
        <label for="sEmail">E-mail*</label>
        <input type="email" name="email" id="sEmail" formControlName="email" placeholder="Ton adresse e-mail"
               class="shadow appearance-none rounded w-full py-3 px-2 leading-tight" required>
        <span [hidden]="fs.email.valid || fs.email.pristine"
              class="text-red-600">Essaie de taper un e-mail valide</span>
      </div>
      <div>
        <label for="sPassword">Mot de passe*</label>
        <input type="password" name="password" id="sPassword" formControlName="password" placeholder="Ton mot de passe"
               class="shadow appearance-none rounded w-full py-3 px-2 leading-tight" required>
        <span [hidden]="fs.password.valid || fs.password.pristine" class="text-red-600">Choisis un mot de passe d'au moins 8 caractères</span>
      </div>
      <div>
        <label for="confirmPassword">Confirmation*</label>
        <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword"
               placeholder="Re-tape ton mot de passe"
               class="shadow appearance-none rounded w-full py-3 px-2 leading-tight" required>
        <span [hidden]="fs.confirmPassword.valid && fs.confirmPassword.pristine" class="text-red-600">Retape ton mot de passe à l'identique</span>
      </div>
      <input type="submit" value="S'inscrire" (submit)="handleSignup()"
             [disabled]="!signupForm.valid"
             class="w-full cursor-pointer px-8 md:py-2 md:px-1 py-6 mt-4 text-lg font-medium text-white text-uppercase bg-indigo-600 hover:text-white hover:bg-teal-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-300 transition duration-150 ease-in-out">
    </form>
  </div>
</div>
