<div class="relative bg-white container mx-auto py-5">
  <h1>Ajoutons un nouveau lieu</h1>
  <app-form-steps [steps]="[{title:'Nom'}, {title: 'Localisation'}, {title: 'Avis'}]" [step]="step"></app-form-steps>
  <form [formGroup]="addLieuForm" (ngSubmit)="handleSubmit()">
    <div id="step1" *ngIf="step===0">
      <label for="nom">Nom du lieu</label>
      <input type="text" name="nom" id="nom" formControlName="nom" placeholder="Tape le nom du lieu"
             (input)="handleSearch()"
             class="shadow appearance-none rounded w-full py-3 px-2 leading-tight"/>
      <div *ngIf="resultList.length>0" class="resultList my-4">
        <p>On a déjà {{resultList.length>1 ? 'des lieux' : 'un lieu'}} avec un nom similaire dans notre base, trouves-tu le tiens dans la liste ?</p>
        <div *ngFor="let lieu of resultList">
          <div (click)="selectLieu(lieu)" class="p-3 bg-purple-100 rounded border border-purple-400">
            <h4 class="font-semibold">{{lieu.nom}}</h4>
            <p class="text-sm text-italic text-right mt-3">{{lieu.localisation.city}}, {{lieu.localisation.zipcode}}</p>
          </div>
        </div>
        <p *ngIf="nom && resultList.length===0">Cool ! Un nouveau lieu, continuons.</p>
      </div>
    </div>
    <div id="step2" *ngIf="step===1">
      <label for="">Région</label>

      <label for="">Ville</label>
      <p>Positionne le lieu sur la carte</p>
      <app-map isSelectable></app-map>
    </div>
    <div class="relative text-center my-5">
      <button *ngIf="step>0" (click)="prevStep()"
              class="whitespace-no-wrap inline-flex items-center justify-center px-2 py-1 mx-3 border border-transparent text-base leading-6 font-medium rounded-md text-teal-500 bg-gray-100 hover:border-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-15"
      >Retour
      </button>
      <button
        [ngClass]="{'cursor-not-allowed opacity-50': isDisabled() }"
        class="whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150"
        [disabled]="isDisabled()"
        (click)="nextStep()">
        Suivant
      </button>
    </div>
  </form>
</div>
